variables:
  TARGET_DIR: /var/www/html

deploy_staging:
  stage: deploy
  tags:
    - gitlab-org
  before_script:
    - apt-get update -qq && apt-get install -y -qq sshpass
  script:
    - composer install
    - npm install
    - npm run production
    - mkdir -pv $TARGET_DIR
    # - rsync -avzr --delete --exclude .git/ --exclude-from './.rsyncignore' ./ $TARGET_DIR
    - sshpass -V
    - export SSHPASS=$USER_PASS
    - sshpass -e rsync -avzr $CI_PROJECT_DIR $SERVER_USER@staging.localfoodnodes.org:/var/www/html
    - sudo chmod 777 -R $TARGET_DIR/storage
  only:
    - master