# Folders
/vendor
node_modules

# Files
.env
.DS_Store
.sass-cache
storage/oauth-private.key
storage/oauth-public.key
storage/framework/sessions
Homestead.json
Homestead.yaml
npm-debug.log
stats.json

/public/js/*.js