# Folders
vendor
node_modules

# Files
.env
.DS_Store
.sass-cache
storage/oauth-private.key
storage/oauth-public.key
Homestead.json
Homestead.yaml
npm-debug.log
stats.json

# Only available in 2.0
packages