variables:
  TARGET_DIR: /var/www

# Server need composer, npm and sshpass

deploy_staging:
  stage: deploy
  tags:
    - staging
  script:
    # - rm composer-lock.json
    # - rm package-lock.json
    - composer install
    - npm install
    - npm run production
    - sudo mkdir -p $TARGET_DIR
    - sudo rsync -avzr $CI_PROJECT_DIR $TARGET_DIR
    - sudo chmod 777 -R $TARGET_DIR/storage
    # - artisan migrate
  only:
    - master