variables:
  TARGET_DIR: /var/www

# Server need composer and node installed
# The user gitlab-runner needs to be in sudoers file
# .env need to be added manually

deploy_staging:
  stage: deploy
  tags:
    - staging
  script:

    # Build Vue components
    - npm install --silent
    - npm run production --silent

    # Build React components
    - npm install --prefix resources/assets/js/react/node-map --silent
    - npm run build --prefix resources/assets/js/react/node-map --silent
    - npm install --prefix resources/assets/js/react/producer-node-map --silent
    - npm run build --prefix resources/assets/js/react/producer-node-map --silent

    # Build Laravel and setup environment
    - composer install
    - sudo mkdir -p $TARGET_DIR/$CI_PROJECT_NAME
    - sudo rsync -azr --delete --exclude .git/ --exclude-from .rsyncignore $CI_PROJECT_DIR $TARGET_DIR
    - sudo chmod 777 -R $TARGET_DIR/$CI_PROJECT_NAME/storage
    - cp ~/.env $TARGET_DIR/$CI_PROJECT_NAME/.env
    - $TARGET_DIR/$CI_PROJECT_NAME/artisan migrate --force
  only:
    - master