variables:
  TARGET_DIR: /var/www/html

# Server need composer, npm and sshpass

deploy_staging:
  stage: deploy
  tags:
    - staging
  before_script:
    - nvm use 9
    - node -v
  script:
    - composer install
    - npm install
    - npm run production
    - mkdir -pv $TARGET_DIR
    # - rsync -avzr --delete --exclude .git/ --exclude-from './.rsyncignore' ./ $TARGET_DIR
    - sshpass -V
    - export SSHPASS=$USER_PASS
    - sshpass -e rsync -avzr $CI_PROJECT_DIR $SERVER_USER@staging.localfoodnodes.org:/var/www/html
    - sudo chmod 777 -R $TARGET_DIR/storage
    # - artisan migrate
  only:
    - master