.dropzone {
  background: #fafafa;
  border: 1px dashed #9e9e9e;
  border-radius: 3px;
  padding: 1rem;

  .dropzone-previews {
    display: flex;
  }
  .dz-preview {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;

    &.dz-complete {
      &.dz-success {
        .dz-success-mark {
          display: block;
        }
      }
      &.dz-error {
        .dz-error-mark {
          display: block;
        }
      }
    }
  }
  .dz-image img {
    max-width: 100px;
  }

  .dz-success-mark,
  .dz-error-mark {
    svg {
      height: 20px;
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      width: 20px;
    }
  }

  // Hide shit
  .dz-filename,
  // .dz-error-message,
  .dz-details,
  .dz-success-mark,
  .dz-error-mark,
  .dz-progress {
    display: none;
  }
}