.StripeElement {
    background-color: white;
    padding: .375rem .75rem;
    border: 1px solid #c5c5bc;
    border-radius: 3px;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--invalid {
    border-color: #f5c6cb;
}

#card-errors {
    display: none;
}

.loader {
    width: 50px;
    margin: 25px auto;
}

.metrics {
    display: flex;
    justify-content: space-evenly;
}
.metrics {
    text-align: center;
}
.metric .value {
    font-family: 'montserrat';
    font-size: 24px;
    font-weight: bold;
}
.metric .label {
    font-family: 'montserrat';
}