// COLORS
$main-primary: #bf360c;
$main-accent: #ff9800;

$secondary-red: #f44336;
$secondary-yellow: #ffeb3b;
$secondary-green: #8bc34a;
$secondary-blue: #03a9f4;

$primary-light-12: #f7e6e1;
$primary-lighten-5: #c24018;
$primary-darken-10: #ab300a;
$primary-darken-20: #982b09;

$accent-light-24: #ffe6c2;
$accent-light-12: #fff2e0;
$accent-lighten-5: #ff9d0d;
$accent-darken-10: #e58800;
$accent-darken-20: #cc7900;

$dark-8: #ebebeb;
$dark-12: #e0e0e0;
$dark-38: #9e9e9e;
$dark-54: #757575;
$dark-87: #212121;

$black-54: rgba(0,0,0,0.54);
$black-38: rgba(0,0,0,0.38);

$pressen-button-grey-40: #d6d6d6;
$disables-text: #bdbdbd;

$raspberry: #efcec4;

// IMAGES
$img-basket: url('/images/shutterstock_436974091.jpg');
$img-party: url('/images/shutterstock_326785574.jpg');
$img-party-red: url('/images/party-red.png');
$img-carrots: url('/images/shutterstock_271622087.jpg');
$img-tomatoes: url('/images/tomatoes-1000x667.jpg');
$img-calves: url('/images/kalvar-1000x665.jpg');

// FONTS
$font-header: 'Montserrat';

// MARGINS
$nav-margin: 162.5px;
$nav-margin-s: 123.5px;

$bg-1: #fafafa;
