.card-simple-container {
  height: 316px;
  cursor: pointer;
  position: relative;
  @extend .image
}

.card-simple-overlay {
  height: 128px;
  width: 100%;
  background-color: rgba(0,0,0,0.38);
  position: absolute;
  bottom: 0;
}

.product {
  height: 386px;
  border-radius: 2px;
  background-color: #FFFFFF;
  @extend .box-shadow;

  &__img-container {
    height: 176px;
    position: relative;

    &__quantity {
      position: absolute;
      top: 15px;
      left: 15px;
      @extend .badge, .badge-success;
    }

    &__tag {
      position: absolute;
      bottom: 8px;
      left: 15px;
      width: 99px;
      @extend .badge-pill, .badge-raspberry, .text-center;
    }

    &__share {
      position: absolute;
      top: 15px;
      right: 15px;
      color: white;
      @extend .fa, .fa-share, .icon;
    }
  }
}

.product.product-edit {
  height: 410px;

  .divider {
    height: 37.25px;
  }

  .product-edit-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .product-edit-active {
    position: absolute;
    bottom: 0.6rem;
    right: 1.6rem;

    .custom-control-label::before {
      top: 0rem;
      left: -2rem;
      width: 1.55rem;
      height: 1.65rem;
    }

    .custom-control-label::after {
      top: 0.2rem;
      left: -1.8rem;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

.card-node-container {
  background-color: white;
  height: 376px;
  max-width: 344px;
  @extend .box-shadow;

  .node-image {
    height: 176px;
  }
}

// --- NODE-LG ---
.node-lg {
  .visit-link {
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    @extend .rc;
  }
}