.card-simple-container {
  height: 316px;
  cursor: pointer;
  position: relative;
  @extend .image
}

.card-simple-overlay {
  height: 128px;
  width: 100%;
  background-color: rgba(0,0,0,0.38);
  position: absolute;
  bottom: 0;
}

.product {
  height: 386px;
  border-radius: 2px;
  background-color: #FFFFFF;
  @extend .box-shadow;

  &__img-container {
    height: 176px;
    position: relative;

    &__quantity {
      position: absolute;
      top: 15px;
      left: 15px;
      @extend .badge, .badge-success;
    }

    &__tag {
      position: absolute;
      bottom: 8px;
      left: 15px;
      width: 99px;
      @extend .badge-pill, .badge-raspberry, .text-center;
    }

    &__share {
      position: absolute;
      top: 15px;
      right: 15px;
      color: white;
      @extend .fa, .fa-share, .icon;
    }
  }
}

.card-node-container {
  background-color: white;
  height: 376px;
  max-width: 344px;
  @extend .box-shadow;

  .node-image {
    height: 176px;
  }
}