.card-simple-container {
  height: 316px;
  cursor: pointer;
  position: relative;
  @extend .image
}

.card-simple-overlay {
  height: 128px;
  width: 100%;
  background-color: rgba(0,0,0,0.38);
  position: absolute;
  bottom: 0;
}

.product {
  height: 386px;
  border-radius: 2px;
  background-color: #FFFFFF;
  @extend .box-shadow;

  &__img-container {
    height: 160px;
    position: relative;

    &__quantity {
      position: absolute;
      top: 15px;
      left: 15px;
      @extend .badge, .badge-success;
    }

    &__tag {
      position: absolute;
      bottom: 8px;
      left: 15px;
      width: 99px;
      @extend .badge-pill, .badge-raspberry, .text-center;
    }

    &__share {
      position: absolute;
      top: 15px;
      right: 15px;
      color: white;
      @extend .fa, .fa-share-alt, .icon;
    }
  }
}

.product.product-edit {
  display: flex;
  flex-direction: column;
  height: 480px;

  &.small {
    height: 240px;
  }

  .visibility-overlay {
    position: absolute;
    height: 100%;
    width: 95%;
    background-color: #ffffff;
    z-index: 1;
    display: flex;
  }

  .product__img-container {
    background: #f5f5f5;

    > img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    &.fallback {
      background-image: url('/images/test.jpg');
      background-size: cover;
    }
  }

  .divider {
    height: 37.25px;
  }

  .product-edit-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .product-edit-active {
    position: absolute;
    bottom: 1rem;
    left: 2.1rem;
  }

  .product-container {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.card-node-container {
  background-color: white;
  height: 376px;
  max-width: 344px;
  @extend .box-shadow;

  .node-image {
    height: 176px;
  }
}

// --- NODE-LG ---
.node-lg {
  .visit-link {
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    @extend .rc;
  }
}

