// Reset
.leaflet-container {
    .leaflet-div-icon {
        background: transparent;
        border: 0;
    }

    .leaflet-control-zoom {
        a {
            line-height: 30px;
        }
    }

    .leaflet-popup-content-wrapper {
        background: transparent;
        box-shadow: none;
    }
}

// Custom
.node-map {
    position: relative;
}

.leaflet-cluster-marker,
.leaflet-marker {
  font-size: 32px;

  &.selected {
    color: green;
  }

  &.added {
    color: red;
  }
}

.map-marker {
    font-size: 50px;

    &.node {
        color: #a51e00;
    }

    &.reko {
        color: rgba(0, 0, 0, 0.5);
    }
}