.footer {
  height: 194px;
  background-color: $primary-darken-20;

  a {
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
  }

  img {
    height: 40px;
  }
}