.navbar-brand > img {
  height: 40px;
}

.navbar-nav li {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

#cover .input-group {
  width: 90%;
}

.sub-nav-active {
  border-bottom: $main-accent 2px solid;

  a {
    color: $main-accent !important;
  }
}

.nav-breadcrumb {
  margin-left: 102px;
}

.sub-nav {
  margin-left: 80px;
}

#nav-container.bg-main-primary .main-nav a {
  color: black;
}
