.navbar-brand > img {
  height: 30px;
}

.nav-item.dropdown {
  cursor: pointer;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-nav li {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

#cover .input-group {
  width: 90%;
}

.sub-nav-active {
  border-bottom: $main-accent 2px solid;

  a {
    color: $main-accent !important;
  }
}

.nav-breadcrumb {
  margin-left: 72px;
}

.sub-nav {
  margin-left: 57px;

  .list-inline-item a:hover {
    text-decoration: none;
  }
}

#nav-container.bg-main-primary .main-nav a {
  color: black;
}

.nav-search-container {
  height: 36px;

  .input-group-prepend {
    margin-right: 0;
  }

  .fa {
    font-size: 1.2rem;
  }

  .input-group-text, .form-control {
    border: 0;
    color: white;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .form-control {
    height: auto;
    @extend small;
  }

  .form-control::placeholder {
    color: white;
  }

  .form-control:focus {
    box-shadow: none;
  }
}
