.tag-label {
  cursor: pointer;
}

.tag input[type=checkbox]:checked + label {
  @extend .badge-danger;
}

.product-intro h2 {
  color: #bf360c;
}

.delivery-dates-container {
  max-height: 450px;
  overflow: scroll;
  @extend .bbb;
}


#overview {

  .overview-box {
    padding: 1rem 1.5rem;
    height: 150px;
    @extend .box-shadow;
    background-color: #fff;
  }

  .product-stats {
    padding: 1rem 1.5rem;
    height: 150px;
    @extend .box-shadow;
    background-color: #fff;
  }
}

.product-background {
  position: absolute;
  height: 336px;
  width: 100%;
}
