.tag-label {
  cursor: pointer;
}

.tag input[type=checkbox]:checked + label {
  @extend .badge-danger;
}

.product-intro h2 {
  color: #bf360c;
}

.delivery-dates-container {
  max-height: 450px;
  overflow: scroll;
  @extend .bbb;
}